* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  line-height: 1;
  align-content: center;
  width: 100%;
  }

