.jumbotron {
  text-align: center;
  background-color: rgb(196, 222, 201);
  font-family: 'Shadows Into Light', cursive;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

#time-block {
  text-align: center;
  border-radius: 15px;
  height: 3em;
}

.row {
  white-space: pre-wrap;
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
  /* height: 3rem; */
  border-top: 1px solid white;
  align-items: center; 
}

form {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 40px;
  padding: 10px;
  width: 100%;
} 

.hour {
  background-color: none;
  color: #000000;
  border-top: 1px dashed #000000;
  padding-top: 10px;
  padding-left: 25px;
}

.hour-task {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding-top: 10px;
  padding-left: 25px;
}

.past {
  background-color: rgba(223, 202, 223, 0.87);
  color: rgb(26, 2, 2);
}

.present {
  background-color: #f4f5a8;
  color: rgb(26, 2, 2);
}

.future {
  background-color: #bee8ee;
  color: rgb(26, 2, 2);
}
